{{> header }}

    <div role="main">
        <ul>
            {{#posts}}
                <li>
                    <h2>{{title}}</h2>
                    <p>{{content}}</p>  
                </li>  
            {{/posts}}
        </ul>
    </div>

{{> footer }}